@using Web.HtmlHelpers
@model Web.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<div class="row mb-3">
    <div class="col-sm-3 d-none d-sm-block">
        @await Component.InvokeAsync("CategoryNav", new {currentCategory = Model.CurrentCategory})
    </div>
    <div class="col-sm-8 col-xs-12">
        @foreach (var p in Model.Products)
        {
            <partial name="ProductSummary" model="p"></partial>
        }
    </div>
</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        <div class="pl-3 mt-5">
            @Html.PageLinks(Model.PaginInfo,
                x => Url.Action("List", new {page = x, category = Model.CurrentCategory}))
        </div>
    </div>
</div>