@model Domains.Entities.Product

<div class="col-12 border-bottom mb-2">
    <h3>
        <strong>@Model.Name</strong>
        <span class="label alert-primary float-right box-shadow p-1">@Model.Price.ToString("c") </span>
    </h3>
    @Model.Description
</div>